body{
    background-image: url('https://images2.imgbox.com/c4/56/yOrOBtnu_o.jpg');
    background-repeat: repeat-x;
    
    
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    
    
  }



.image-upload-one{
    grid-area: img-u-one;
    display: flex;
    justify-content: center;
  }

.image-upload-container{
    display: grid;
    grid-template-areas: 'img-u-one img-u-two img-u-three img-u-four img-u-five img-u-six';
  }
.center {
    display:inline;
    margin: 3px;
  }

.form-input {
    width:350px;
    margin: auto;
    height: 255px;
    padding:3px;
    background:rgb(7, 7, 7);
    border:2px dashed dodgerblue;
  }
  
.form-input input {
    display:none;
  }

.form-input label {
    display:block;
    width:100%;
    height: 100%;
    /*max-height: 200px;*/
    background:#333;
    border-radius:10px;
    cursor:pointer;
  } 
  
.form-input img {
    width:100%;
    height: 100%;
    margin: 2px;
    /*opacity: .4;*/
  }

.imgRemove{
    position: relative;
    bottom: 114px;
    left: 68%;
    background-color: transparent;
    border: none;
    font-size: 30px;
    outline: none;
  }
.imgRemove::after{
    content: ' \21BA';
    color: #fff;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
  }

.small{
    color: #fff;
  }

@media only screen and (max-width: 700px){
.image-upload-container{
      grid-template-areas: 'img-u-one img-u-two img-u-three'
       'img-u-four img-u-five img-u-six';
    }
  }

  *{
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
object-fit: cover;
object-position: center;
border: 4px solid #665e57;
padding: 0.5rem;
box-shadow: 0px 4px 8px #9193a4;
}

.gallary{
    margin: auto;
max-width: 1000px;
    padding:1rem;
}

.text{
    grid-area: 2/2/5/5;
    align-self: center;
    justify-self: center;
    
}
h1{
font-family: 'Cinzel', serif;
font-size: 2.2rem;
margin: 0.2rem 0;
border-top: 2px solid #776b5e;
border-bottom: 3px solid #ecd68c;
}
.text p{
    font-family: 'Alegreya', serif;
    font-size: 1.5rem;
    color:#3f3f3e;
    letter-spacing: 5px;
}
.text span{
    font-size:2rem;
    color: red;
}
.image1{
    grid-area: 1/1/3/2;
}
.image2{
    grid-area: 1/2/2/4;
}
.image3{
    grid-area: 1/5/4/6;
}
.image4{
    grid-area: 3/1/6/2;
}
.image5{
    grid-area: 5/3/6/5;
}
.image6{
    grid-area: 4/5/6/6;
}

@media screen and (min-width: 700px){
  .gallary{
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.8fr 0.1fr 1fr;
  grid-template-rows: 24vh 10vh 15vh 10vh 24vh;
  grid-gap: 1rem;
}

}

@media screen and (max-width: 701px){
.image{
margin-bottom: 1rem;
}
}